.git
.gitignore
.github
.vscode
.idea

node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

dist
**/dist
coverage
**/coverage
coverage.json
coverage-*.json
coverage-final.json

.coverage
.coverage.*
htmlcov

.env
.env.*

**/__pycache__/
**/*.pyc
**/.pytest_cache/

benchmarks
reports

*.log